@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif;
  margin: 0;
}
/* * {
  border: .001px solid red;
} */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.container {
  width: 900px;
  max-width: 90vw;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
  /* position: relative; */
}
.icon-cart {
  font-size: 22px;
}
header i {
  position: relative;
}
header i span {
  font-size: 13px;
  /* padding: 3px 5.5px; */
  background-color: red;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  color: white;
}
.listProduct .item img {
  width: 100%;
  /* filter: drop-shadow(0 50px 20px black); */
}
.listProduct {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.listProduct .item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
}
.listProduct .item h3 {
  font-weight: 400;
}
.listProduct .item .price {
  letter-spacing: 3px;
  font-size: small;
}
.listProduct .item button {
  background-color: #75766d;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 5px;
  cursor: pointer;
}
.listProduct .item button:hover {
  background-color: black;
}

.cartTab {
  width: 350px;
  background-color: lavender;
  position: fixed;
  /* inset: 0 -100% 0 auto; */
  top: 0;
  bottom: 0;
  right: -100%;
  /* right: 0; */
  box-shadow: 0 0 10px gray;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 20px;
  transition: 0.5s;
}
.cartTab.active {
  right: 0;
}
/* body.showCart .cartTab {
    inset: 0 0 0 auto;
} */
/* body.showCart .container {
  transform: translateX(-250px);
} */
.cartTab h2 {
  padding: 20px;
  margin: 0;
  /* margin-bottom: 10px; */
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab .btn button {
  background-color: #75766d;
  border: none;
  font-family: Poppins;
  font-weight: 400;
  cursor: pointer;
  color: white;
  padding: 5px 0;
}
.cartTab .btn .checkOut {
  background-color: rgb(88, 132, 132);
}
.cartTab .btn .close:hover {
  background-color: red;
}
.cartTab .btn .checkOut:hover {
  background-color: green;
}

.cartTab .listCart .item img {
  width: 100%;
}
.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 50px 110px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
  padding-left: 5px;
}
.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #a47474;
  border-radius: 50px;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
}
.listCart .item:nth-child(even) {
  background-color: white;
}
.listCart {
  overflow: auto;
}



