@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'poppins', sans-serif;
  margin: auto;
  max-width: 1100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  /* max-width: 1100px; */
  /* height: 40px; */
  /* box-shadow: 0 0 10px gray; */
  margin: auto;
}
a {
  text-decoration: none;
  font-weight: 500;
  color: black;
}
/* a:hover {
  color: gray;
} */
header a:hover,
header a.active {
  color: rgb(56, 173, 206);
  border-bottom: 3px solid green;
  /* border-radius: 4px; */
}

.container {
  /* max-width: 1100px; */
  width: 100%;
  margin: 25px auto;
  text-align: center;
  padding-top: 10px;
  transition: transform 0.5s;
}
.icon-cart {
  font-size: 22px;
}
header i {
  position: relative;
  cursor: pointer;
}
header i span {
  font-size: 13px;
  /* padding: 3px 5.5px; */
  background-color: red;
  border-radius: 50px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 10px;
  color: white;
}
.listProduct .item img {
  width: 100%;
  display: block;
  /* filter: drop-shadow(0 50px 20px black); */
} 
.listProduct {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(180px, 4fr));
  gap: 40px;
}
.listProduct .item {
  background-color: #eeeee6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px gray;
}
.listProduct .item h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.listProduct .item .price {
  letter-spacing: 3px;
  font-size: small;
}
.listProduct .item button {
  background-color: #75766d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
.listProduct .item button:hover {
  background-color: #686867;
}


.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1000;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.cartTab {
  width: 350px;
  background-color: lavender;
  position: fixed;
  /* inset: 0 -100% 0 auto; */
  top: 0;
  /* bottom: 0; */
  right: -100%;
  height: 100vh;
  /* right: 0; */
  box-shadow: 0 0 10px gray;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  /* gap: 30px; */
  transition: 0.5s;
  z-index: 1001;
}
.cartTab.active {
  right: 0;
}

.cartTab h2 {
  padding: 10px;
  /* padding: 20px; */
  margin: 0;
  /* margin-bottom: 10px; */
  font-weight: 300;
}
.cartTab .btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
}
.cartTab .btn button {
  background-color: #75766d;
  border: none;
  font-family: Poppins;
  font-weight: 400;
  cursor: pointer;
  color: white;
  padding: 5px 0;
}
.cartTab .btn .checkOut {
  background-color: rgb(144, 134, 134);
}
.cartTab .btn .close:hover {
  background-color: red;
}
.cartTab .btn .checkOut:hover {
  background-color: green;
}

.cartTab .listCart .item img {
  width: 100%;
  display: block;
  padding: 2px;
}
.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 55px 1fr 55px 38px 20px;
  gap: 3px;
  text-align: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
.cartTab i {
  cursor: pointer;
  color: gray;
}
.cartTab i:hover {
  color: red;
}

.listCart .quantity span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #a47474;
  border-radius: 50px;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2) {
  background-color: transparent;
}
.listCart .item:nth-child(even) {
  background-color: white;
}
.listCart {
  overflow: auto;
}

@media (350px <= width <=968px) {
  header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .listProduct {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
